nav {
    background: rgb(255, 255, 255);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  .wrapper .logo a {
    color: #ff4584;
  }

  #iwp{
    color: black;
    text-shadow: 0 0 2px #ff4584;
  }
  .nav-links li a {
    color: rgb(0, 0, 0);
  }

  .nav-links li a:hover {
    /* background: #3a3b3c; */
    background: #000000d8;
    color: #fff;
  }

  .nav-links .welcome {
    color: #ff4584;
    font-weight: 600;
    border: none;
  }

  #logout-btn {
    background-color: #ff44823f;
  }

  